<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright 2021 - TODAY, Marcel Savegnago <marcel.savegnago@gmail.com>
     License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl). -->

<odoo>
    <menuitem name="Catchment Monthly Rate" id="property_water_catchment_monthly_rate_menu" parent="property_base.root_menu" sequence="30"
              action="property_water_catchment_monthly_rate_menu_action"/>
</odoo>