<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright 2021 - TODAY, Marcel Savegnago <marcel.savegnago@gmail.com>
     License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl). -->

<odoo>
    <data>

        <menuitem name="Property Management" id="root_menu" sequence="1" web_icon="property_base,static/description/icon.png" />
        <menuitem name="Property" id="property_menu" parent="root_menu" sequence="10"/>
        <menuitem name="Land" id="property_land_menu" parent="property_menu" action="property_land_action"
                  sequence="10"/>
        <menuitem name="Module" id="property_land_module_menu" parent="property_menu"
                  action="property_land_module_action" sequence="20"/>
        <menuitem name="Block" id="property_land_block_menu" parent="property_menu" action="property_land_block_action"
                  sequence="30"/>
        <menuitem name="Lot" id="property_land_lot_menu" parent="property_menu" action="property_land_lot_action"
                  sequence="40"/>

        <menuitem name="Wizards" id="property_wizards_menu" parent="root_menu" sequence="80"/>

        <menuitem name="Settings" id="property_settings_menu" parent="root_menu" sequence="99"/>
        <menuitem name="Zone" id="property_land_zone_menu" parent="property_settings_menu"
                  action="property_land_zone_action" sequence="10"/>
        <menuitem name="Type" id="property_land_type_menu" parent="property_settings_menu"
                  action="property_land_type_action" sequence="20"/>
        <menuitem name="Usage" id="property_land_usage_menu" parent="property_settings_menu"
                  action="property_land_usage_action" sequence="30"/>
        <menuitem name="Stage" id="property_land_stage_menu" parent="property_settings_menu"
                  action="property_land_stage_action" sequence="40"/>

    </data>
</odoo>